@model DIYtoMvc.Models.CommmentsModel
@{
    ViewData["Title"] = "Test-data";

}
<main>
    <!-- Här är citat delen som skiljer sig från de olika sidorna med hjälp av klasser -->
    <section class="main-quote">
        <blockquote class="about">
            <h2>You were at the home page at:  @ViewBag.session</h2>
            <p> click <button> <a asp-controller="Testdata" asp-action="Index">here</a> </button>to check how long time it was since you entered home page </p> @ViewBag.amountOfTime 
        </blockquote>
    </section>
    <!-- Gör en div på innehåller för att styra positionen via flex -->
    <section class="main-content-test">

        <partial name="_CommentForm" />

        <div class="comments-div">
            @* Printing out comments stored in viewbag *@
            <h2>Ammounts of comments: @ViewBag.count </h2>
            @if (ViewBag.comments != null)
            {
                
                @foreach (var comment in ViewBag.comments)
                {
                    <div class="comment-view">
                        <div class="comment-info">
                            <b>@comment.Name</b>
                            <i>@comment.Theme</i>
                            @if(comment.Member != "false") {<b> @comment.Member</b>}
                            <i>Age: @comment.Age </i>
                        </div>
                        <div class="comment-text">
                            <b>Comment:</b>
                            <p>@comment.Comment</p>
                        </div>
                    </div>
                }
            }

        </div>
    </section>
          <partial name="_Widgets" />

</main>